# build artifacts
build/
.eggs/
tests/.eggs/
*.egg-info/
dist/
__pycache__/
doc/_build/
*.pyc
.coverage

# configuration
.env
useful_code/.ipynb_checkpoints/dev-testing-checkpoint.ipynb
useful_code/hop_sub_v02.py
