# build artifacts
build/
.eggs/
tests/.eggs/
*.egg-info/
dist/
__pycache__/
doc/_build/
*.pyc
.coverage

# configuration
.env
useful_code/.ipynb_checkpoints/
useful_code/Tests.ipynb
useful_code/hop_comms.ipynb
useful_code/local-testing.ipynb
useful_code/logging.log
useful_code/slack_test.py
useful_code/SNEWS_MSGs/21_08_30/subscribed_messages.json
