# build artifacts
build/
.eggs/
tests/.eggs/
*.egg-info/
dist/
__pycache__/
doc/_build/
*.pyc
.coverage

# configuration
.env
useful_code/.ipynb_checkpoints/
useful_code/Tests.ipynb
useful_code/hop_comms.ipynb
useful_code/local-testing.ipynb
useful_code/logging.log
useful_code/slack_test.py
useful_code/SNEWS_MSGs/21_08_30/subscribed_messages.json
hop_comms/SNEWS_MSGs/21_08_30/subscribed_messages.json
hop_comms/slack_test.py
hop_comms/logging.log
hop_comms/local-testing.ipynb
hop_comms/.ipynb_checkpoints/
hop_comms/local_tests.ipynb
.ipynb_checkpoints/dev_test-checkpoint.ipynb
dev_test.ipynb
hop_comms/hop_mgs_schema_old.py
setup_orig.py
logging.log
